* {
  margin: 0;
  padding: 0; }

p {
  text-align: justify; }

a {
  color: #00a35b;
  text-decoration: none; }

html {
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  color: #3a3a3a;
  line-height: 30px; }

body {
	margin: 10 auto;
}

table.data {
  margin: 10px auto;
  width: 30%;
  min-width: 300px;
  text-align: center;
  border-collapse: collapse;
}

td, th {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

table.data tr:nth-child(odd) {
  background: #f4f4f4;
}

td.head, td.value, th.head, th.value{
  padding: 5px 10px;	
}

td.head {
  text-align:left;
  border-left: 1px solid #e5e5e5;
  font-weight: 600;
}

td.value {
  text-align:right; 
  border-right: 1px solid #e5e5e5;
}

th {
  font-size: 20px;
  font-weight: 600;
  background: #3680c9;
  color: white;
}

th.head {
  text-align:left;
  border-left: 1px solid #e5e5e5;
}

th.value {
  text-align:right; 
  border-right: 1px solid #e5e5e5;
}

td.graph {
  border: 1px solid #e5e5e5;
  padding: 0px 0px;
  margin: 0px 0px;
}

img.graph {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}